body {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-white);
  color: var(--color-dark);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-768) {
    padding: 0 8px;
  }
}

.container-fluid {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(7, 18, 32, 0.74);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.main-title {
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  font-size: calc(28px + (62 - 28) * ((100vw - 320px) / (1200 - 320)));
  line-height: calc(38px + (73 - 38) * ((100vw - 320px) / (1200 - 320)));

  color: var(--color-accent);

  @include breakpointsMinW($bp-container) {
    font-size: 62px;
    line-height: 73px;
  }
}

.section-title {
  font-weight: 900;
  letter-spacing: 0.025em;
  color: var(--color-accent);
  text-transform: uppercase;

  font-size: calc(26px + (38 - 30) * ((100vw - 320px) / (1200 - 320)));
  line-height: calc(32px + (45 - 36) * ((100vw - 320px) / (1200 - 320)));

  @include breakpointsMinW($bp-container) {
    font-size: 38px;
    line-height: 45px;
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

.btn {
  display: block;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  padding: 35px 96px 35px 58px;
  background: linear-gradient(255.29deg, #F81C19 7.31%, #C41513 96.79%);

  border-radius: 100px;
  position: relative;
  transition: 150ms ease;

  // * ==== Как задумал дизайнер, но мне не нравится
  box-shadow: 0px 19px 20px rgba(79, 14, 14, 0.25), 0px 20px 80px rgba(151, 7, 7, 0.94), 0px 4px 0px #8E0A08, inset 0px -4px 4px rgba(114, 15, 15, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);

  &::after {
    @include pseudoElDefault();
    top: 50%;
    transform: translateY(-50%);
    right: 52px;
    width: 25px;
    height: 25px;
    @include maskImage(url('../images/sprite.svg#aim'), contain);
    background-color: var(--color-white);
    transition: 159ms ease;
  }

  &:focus {
    outline: 2px solid var(--color-dark);
  }

  @include breakpointsMinW($bp-991) {
    &:hover {
      &::after {
        transform: translateY(-50%) scale(1.4);
      }

      transform: translateY(-3px) scaleX(1.02);
    }
  }

  &:active {
    box-shadow: 0px 19px 20px rgba(79, 14, 14, 0.25), 0px 20px 80px rgba(151, 7, 7, 0.94), 0px 1px 1px #8E0A08, inset 0px -4px 4px rgba(114, 15, 15, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    transform: translateY(5px);
  }

  &--small {
    text-align: center;
    box-shadow: none;
    padding: initial;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    background: #EBEBEB;
    color: #52535C;
    text-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 150ms ease;

    &::after {
      display: none;
    }

    &:focus {
      outline: 1px solid var(--color-accent);
    }

    @include breakpointsMinW($bp-991) {
      &:hover {
        color: var(--color-white);
        box-shadow: none;
        background: transparent; // Сброс (так как градиент)
        background-color: var(--color-accent);
      }
    }

    &:active {
      @include btnActive();
    }
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--no-shot {
    padding: 35px 60px;

    &::after {
      display: none;
    }
  }

  &--flat {
    &::after {
      display: none;
    }

    border-radius: 0;
    box-shadow: none;
    background: var(--color-red);

    &:focus {
      box-shadow: 0 0 0 3px var(--color-dark);
    }

    &:hover {
      transform: scaleX(1.05);
    }

    &:active {
      box-shadow: none;
      transform: scale(0.98);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.badge {
  color: var(--color-white);
  width: 67px;
  height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transform: rotate(-5deg) skew(-5deg);

  &--hit {
    background-color: var(--color-red);
  }
}

.section-top {
  text-align: center;

  &__title {
    @include breakpointsMaxW($bp-768) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    @include breakpointsMaxW($bp-container) {
      font-size: calc(22px + (36 - 28) * ((100vw - 320px) / (1200 - 320)));
    }
  }
}

.section-bg {
  background-image: url('../images/content/big-company/bg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

// * ==== Active MixItup Control 
.mixitup-control-active {
  background-color: var(--color-accent);
  color: var(--color-white) !important;
  box-shadow: 0px 10px 12px rgba(22, 57, 99, 0.31);
}

// * ==== Custom scrollbar 
.simplebar-scrollbar::before {
  background-color: var(--color-accent);
}