body {
  font-family: $Gilroy;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--color-white);
  color: var(--color-dark);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-768) {
    padding: 0 10px;
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.section-title {
  font-weight: bold;

  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1225 - 320)));
  line-height: calc(30px + (48 - 30) * ((100vw - 320px) / (1225 - 320)));

  @include breakpointsMinW($bp-container) {
    font-size: 36px;
    line-height: 48px;
  }

  @include breakpointsMaxW($bp-768) {
    text-align: center;
    margin: 0 auto;
  }
}


// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}