// Color 
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #0A0F32;
  --color-accent: #1C4F8B;
  --color-blue: #0877D2;
}

// * breakpointsMaxW
$bp-container: 1200px;
$bp-991: 991px;
$bp-768: 768px;
$bp-650: 650px;
$bp-576: 576px;
$bp-420: 420px;

// *=== Fonts
$Gilroy: 'Gilroy';

// * ==== Z-Index
$z-1: 1;
$z-5: 5;
$z-10: 10;
$z-100: 100;