<footer class="footer">
  <div class="container">

    <h2 class="footer__title section-title">Ого! вы долистали до конца</h2>

    <div class="footer__wrapper">
      <div class="footer__cols">
        <a class="footer__logo logo" href="">
          <img src="images/logo.svg" alt="Логотип">
        </a>
        <p>Центр развлечения для детей и взрослых в Ульяновске</p>
        <a class="footer__policy" href="#">Политика конфиденциальности</a>
        <p>Copyright 2006-2020 г.</p>
      </div>

      <div class="footer__lists">
        <div class="">
          <h3 class="footer__cols-title">Гостям</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="Главная страница">Главная страница</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Все услуги</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Новости и акции</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Подарочные сертификаты</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Личный кабинет</a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="footer__cols-title">Гостям</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="Главная страница">Главная страница</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Все услуги</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Новости и акции</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Подарочные сертификаты</a>
            </li>
            <li class="footer__item">
              <a href="Главная страница">Личный кабинет</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__cols">
        <h3 class="footer__cols-title">О центре</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="Главная страница">Главная страница</a>
          </li>
          <li class="footer__item">
            <a href="Главная страница">Все услуги</a>
          </li>
          <li class="footer__item">
            <a href="Главная страница">Новости и акции</a>
          </li>
          <li class="footer__item">
            <a href="Главная страница">Подарочные сертификаты</a>
          </li>
          <li class="footer__item">
            <a href="Главная страница">Личный кабинет</a>
          </li>
        </ul>
      </div>
      <div class="footer__cols">
        <h3 class="footer__cols-title">Контакты</h3>

        <address class="footer__location">
          <a class="city" href="#">Ульяновск</a>
          <a class="route" href="#">Как добраться</a>
        </address>
        <address class="footer__phone">
          <a class="phone" href="tel:33-54-62">33 - 54 - 62</a>
          <a class="text" href="#">Обратный звонок</a>
        </address>

        <div class="footer__messengers messengers">
          <ul class="messengers__list">
            <li class="messenger__item">
              <a class="messengers__link messengers__link--whatsapp" href="#"
                aria-label="Напишите или позвоните нам в ватсап"></a>
            </li>
            <li class="messengers__item">
              <a class="messengers__link messengers__link--viber" href="#"
                aria-label="Напишите или позвоните нам в вайбер"></a>
            </li>
            <li class="messengers__item">
              <a class="messengers__link messengers__link--telegram" href="#"
                aria-label="Напишите или позвоните нам в телеграм"></a>
            </li>
          </ul>
        </div>

        <div class="footer__socials socials">
          <span class="socials__text">Соц сети: </span>
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--instagram" href="#" aria-label="Посомтреть нас в инстаграме"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#" aria-label="Посомтреть нас в вконтакте"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>