<section class="section-form-submit">
  <div class="container">
    <h2 class="section-form-submit__title section-title">Хотите заказать мероприятие или детский праздник</h2>

    <div class="section-form-submit__wrapper">
      <div class="section-form-submit__manager manager-badge">
        <h3 class="manager-badge__title">Анастасия Морозова</h3>
        <p class="manager-badge__text">управляющая развлекательным центром“Партизан”</p>
      </div>

      <form class="form-submit" action="/">
        <h3 class="form-submit__title">Оставьте свои контактные данные, <span>мы свяжемся с вами в ближайшее
            время!</span>
        </h3>

        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Ваше имя" name="name" required>
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="tel" placeholder="Телефон" name="tel" required>
        </label>
        <label class="form-submit__group">
          <textarea class="form-submit__input form-submit__input--textarea" name="message"
            placeholder="Ваши пожелания по празднику" required></textarea>
        </label>

        <button class="form-submit__btn btn" type="submit">Оставить заявку</button>

        <p class="form-submit__text">Нажимая кнопку «Оставить заявку», вы соглашаетесь с <span>политикой
            конфиденциальности</span>
        </p>
      </form>
    </div>
  </div>
</section>