<section class="emotions">
  <div class="container">
    <div class="emotions__wrapper">
      <div class="emotions__birthday">
        <div class="card-birthday">
          <div class="card-birthday__preview">
            <div class="card-birthday__img">
              <img src="images/content/card-birthday/top.jpg" alt="Наши фото"></div>
            <div class="card-birthday__img">
              <img src="images/content/card-birthday/middle.jpg" alt="Наши фото"></div>
            <div class="card-birthday__img">
              <img src="images/content/card-birthday/bottom.jpg" alt="Наши фото"></div>
          </div>
          <div class="card-birthday__info">
            <h3 class="card-birthday__title">🎉День рождения в теплое время года – это миллион вариантов, как провести
              его
              максимально весело и зажигательно!
            </h3>
            <div class="card-birthday__text">
              <p>Лазертаг-приключения, нерф, анимация, интерактивы… И это далеко не все, что
                мы
                можем вам предложить. Специально для вашего удобства мы собрали все самое необходимое для праздника в
                пакеты
                услуг🎁. Вам остается только выбрать и забронировать нужную дату.</p>
              <p>Наши развлечения одинаково <span> нравятся и детям, и взрослым😉</span>, поэтому свою порцию радости и
                веселья
                получат
                все гости независимо от возраста! Сколько бы времени не было отведено на программу, всегда хочется еще!
              </p>
            </div>
          </div>
        </div>
      </div>


      <h2 class="emotions__title section-title">Дарите незабываемые эмоции</h2>
      <div class="emotions__gift">
        <article class="gift-card">
          <div class="gift-card__img">
            <!-- <img src="../images/content/gifts/1.png" alt="Подарочный сертификат"> -->
          </div>
          <div class="gift-card__info">
            <h3 class="gift-card__title">Подарочный сертификат<span> от развлекательного центра “Партизан”:</span>
            </h3>
            <p class="gift-card__text">Подарите незабываемые эмоции! В сертификат входит одно
              приключение на выбор: квесты, прятки или лазертаг.</p>
            <button class="gift-card__btn btn">Оставить заявку</button>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>