<section class="about-course">
  <div class="container">
    <div class="section-top">
      <h2 class="about-course__title section-title">О курсе</h2>
      <p class="section-top__text">Наш курс состоит из нескольких частей, которые помогут Вашему ребенку стать настоящим
        мужчиной.</p>
    </div>
    <ul class="about-course__items">
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">1</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">2</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">3</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">4</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">5</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">6</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">7</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
      <li class="about-course__item">
        <article class="about-course-card">
          <div class="about-course-card__img">
            <img src="images/content/about-slider/1.jpg" alt="Про курс">
            <span class="about-course-card__number">8</span>
          </div>
          <div class="about-course-card__info">
            <h3 class="about-course-card__name">В курс входит обучение единоборствам и самообороне.</h3>
            <p class="about-course-card__text">
              Ведь это не только умение постоять за себя, но и настоящее закаливание характера, и развитие физических
              навыков. Единоборства помогут улучшить концентрацию и самодисциплину. А отличные инструкторы боевых
              искусств знают, как важно значение уважения, поэтому в первую очередь учат бойцов быть вежливыми со
              своими
              родителями, учителями, а также сверстниками.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>