<section class="courses">
  <div class="container">
    <h2 class="visually-hidden">Наши курсы</h2>

    <ul class="courses__items">
      <li class="courses__item">
        <article class="courses-card courses-card--school">
          <h3 class="courses-card__title section-title">Школа мужского развития</h3>

          <ul class="courses-card__list">
            <li class="courses-card__item">
              Лазертаг
            </li>
            <li class="courses-card__item">
              Единоборства
            </li>
            <li class="courses-card__item">
              Туризм
            </li>
            <li class="courses-card__item">
              ОФП
            </li>
          </ul>

          <button class="courses-card__btn btn">Попробовать бесплатно</button>
        </article>
      </li>
      <li class="courses__item">
        <article class="courses-card courses-card--course">
          <h3 class="courses-card__title section-title">Курс партизана</h3>

          <ul class="courses-card__list">
            <li class="courses-card__item">
              5 или 10 дней насыщенных занятий
            </li>
            <li class="courses-card__item">
              Спортивная программа
            </li>
            <li class="courses-card__item">
              Занятие по выживанию
            </li>
            <li class="courses-card__item">
              Дневное пребывание
            </li>
          </ul>

          <button class="courses-card__btn btn">Попробовать бесплатно</button>
        </article>
      </li>
    </ul>
  </div>
</section>