.swiper-button-next,
.swiper-button-prev {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  transition: 150ms ease;

  &::after {
    content: '';
  }

  img {
    width: 28px;
    height: 19px;
  }

  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  &:focus {
    outline: 2px solid var(--color-dark);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.swiper-button-prev {
  &:hover {
    transform: scaleX(1.05) translateX(-5px);
  }
}

.swiper-button-next {
  &:hover {
    transform: scaleX(1.05) translateX(5px);
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid var(--color-blue);
    background-color: transparent;
    transition: 150ms ease;

    &:hover {
      background-color: var(--color-blue);
    }

    &:active {
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-blue);
    width: 30px;
    border-radius: 10px;
  }
}

.slider {
  max-width: 1010px;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;

  @include breakpointsMaxW($bp-991) {
    padding: 0;
  }

  &::after,
  &::before {
    @include pseudoElDefault();
    width: 220px;
    height: 195px;
    @include backgroundImage(url('../images/content/entertainments/decor.svg'), contain);

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &::after {
    top: -20px;
    left: -20px;
  }

  &::before {
    bottom: -20px;
    right: -20px;
  }

  &--no-decor {

    &::after,
    &::before {
      display: none;
    }
  }
}