.video-card {
  max-width: 370px;
  width: 100%;
  height: 275px;

  &:hover {
    .video-card {
      &__img {
        &::after {
          transform: scaleY(0);
        }
      }

      &__play {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  &__img {
    width: 100%;
    height: 232px;
    margin-bottom: 19px;
    overflow: hidden;
    position: relative;

    img {
      @include img(cover);
    }

    &::after {
      @include pseudoElDefault();
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(10, 15, 50, 0.78);
      z-index: 1;
      transform: scaleY(1);
      transform-origin: top;
      transition: 350ms ease;
      transition-delay: 200ms;
    }
  }

  &__play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 45px;
    border-radius: 8px;
    z-index: 2;
    background-color: var(--color-red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease;

    svg {
      width: 25px;
      height: 25px;
      fill: var(--color-white);
      transition: 200ms ease;
    }

    &:focus {
      outline: 1px solid #ccc;
    }

    &:active {
      box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.5);
    }
  }

  &__name {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
  }
}