.other-holiday-card {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  min-height: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100%;

  position: relative;

  &::after {
    @include pseudoElDefault();
    width: 54px;
    height: 48px;
    background-color: #ECF1F6;
    top: -22px;
    right: -25px;
    transform: rotate(45deg);
  }

  @include breakpointsMaxW($bp-container) {
    padding-left: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
    padding-right: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1200 - 320)));
  }

  &--corporate-parties {
    @include backgroundImage(url('../images/content/other-holidays/1.png'), cover);
  }

  &--offsite-events {
    @include backgroundImage(url('../images/content/other-holidays/2.png'), cover);
  }

  &__title {
    margin-bottom: 25px;
    max-width: 430px;
    color: var(--color-white);
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    position: relative;
    padding-left: 30px;

    &:last-child {
      &::before {
        display: none;
      }
    }

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;
      @include maskImage(url('../images/sprite.svg#defense'), contain);
      background-color: var(--color-white);
    }
  }

  &__btn {
    margin-top: auto;
    max-width: 210px;

    @include breakpointsMaxW($bp-768) {
      padding-right: 70px;
      padding-left: 30px;

      &::after {
        right: 35px;
      }
    }

    @include breakpointsMaxW($bp-375) {
      padding-right: 25px;
      padding-left: 25px;

      &::after {
        display: none;
      }
    }
  }
}