.header {
  background-color: var(--color-blue);
  color: var(--color-white);
  min-height: 108px;
  z-index: 99999999999;
  position: relative;

  @include breakpointsMaxW($bp-991) {
    min-height: 100%;
  }

  &__top {
    padding: 14px 0;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &-wrapp {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__location {
    display: flex;
    align-items: center;

    a {
      &:not(:last-child) {
        margin-right: 37px;
      }

      &.city {
        position: relative;
        padding-left: 34px;

        &::before {
          @include pseudoElDefault();
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 21px;
          height: 21px;
          @include maskImage(url('../images/sprite.svg#location'), contain);
          background-color: var(--color-white);
        }
      }

      &.route {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    margin-left: 80px;
  }

  &__bottom {
    background-color: var(--color-white);
    color: var(--color-dark);
    height: 60px;
    z-index: 9 !important;

    &--wrapp {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    color: var(--color-accent);

    @include breakpointsMaxW($bp-768) {
      .header__text {
        display: none;
      }
    }

    .main-menu {
      width: 352px;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: var(--color-white);
      padding: 40px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transform: translateY(-10px);
      transition: all 250ms ease-in-out;

      &__item {
        width: 100%;

        &:not(:last-child) {
          border-bottom: 1px solid #C2C2C2;
        }
      }

      &__link {
        display: block;
        width: 100%;
        transition: 150ms ease;
        padding: 20px 0;

        &:hover {
          color: var(--color-red);
        }
      }

      &__btn {
        padding: 35px 60px;
      }
    }

    &.active {
      .main-menu {
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
        visibility: visible;
      }

      .header__toggle {
        span {
          background-color: transparent;

          &::after {
            transform: translateX(-50%) rotate(45deg);
            top: 0px;
          }

          &::before {
            bottom: 0px;
            transform: translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  &__btn {
    padding: 19px 21px;
  }

  &__main-menu {
    z-index: -1;
  }

  &__logo-mobile {
    display: none;
    width: 178px;
    height: 71px;

    img {
      @include img(contain)
    }

    @include breakpointsMaxW($bp-991) {
      display: block;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  &__phone-mobile {
    display: none;
    width: 41px;
    height: 41px;
    position: relative;

    &::after {
      @include pseudoElDefault();
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include maskImage(url('../images/sprite.svg#phone'), contain);
      background-color: var(--color-accent);
    }

    &:focus {
      outline: 1px solid var(--color-dark);
    }

    &:active {
      &::after {
        background-color: var(--color-dark);
      }
    }

    @include breakpointsMaxW($bp-991) {
      display: block;
    }
  }

  &__row-menu {
    @include breakpointsMaxW($bp-991) {
      display: none !important;
    }
  }

  // * ==== Toglge Menu Btn
  &__toggle {
    display: block;
    z-index: 10;
    flex-shrink: 0;
    width: 42px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms ease-in;

    &:focus {
      outline: 1px solid var(--color-dark);
    }

    &:active {
      transform: scale(1.2);
    }

    &-line {
      border-radius: 2px;
      width: 100%;
      height: 4px;
      background-color: var(--color-accent);
      position: relative;
      transition: 150ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-accent);
        transition: 250ms ease-in;
        border-radius: 2px;
      }

      &::after {
        top: -12px;
      }

      &::before {
        bottom: -12px;
      }
    }
  }

  // 
  .main-menu-mobile {
    position: absolute;
    top: 60px;
  }
}