.hero {
  color: var(--color-accent);
  min-height: 600px;
  padding-top: 29px;

  @include backgroundImage(url('../images/content/hero/hero-main.jpg'), cover);

  @include breakpointsMaxW($bp-768) {
    min-height: 745px;

    @include backgroundImage(url('../images/content/hero/1-small.jpg'), cover);
    background-position: center bottom;
  }

  &--entertainment {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-2.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-2-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--celebration {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-3.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-3-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--corporate {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-4.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-4-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--off-site-activities {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-5.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-5-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--school-men {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-6.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-6-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--news {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-7.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
      @include backgroundImage(url('../images/content/hero/hero-7-small.jpg'), cover);
      background-position: center left;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--news {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-7.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &--gift-sertificate {
    min-height: 430px;
    @include backgroundImage(url('../images/content/hero/hero-8.jpg'), cover);

    @include breakpointsMaxW($bp-576) {
      min-height: 610px;
    }

    .hero__offer {
      max-width: 100%;
    }

    .hero__title {
      margin-bottom: 30px;

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        margin: 0 auto 30px;
        text-align: center;
      }
    }
  }

  &__offer {
    max-width: 725px;
  }

  &__title {
    margin-bottom: 30px;

    // @include breakpointsMaxW($bp-768) {
    //   max-width: 100%;
    //   margin: 0 auto 30px;
    //   text-align: center;
    // }
  }

  &__list {
    max-width: 620px;
    margin-bottom: 46px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px 12px;

    @include breakpointsMaxW($bp-768) {
      max-width: 240px;
      margin: 0 auto 46px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding-left: 32px;
    position: relative;

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;
      @include maskImage(url('../images/sprite.svg#defense'), contain);
      background-color: var(--color-accent);
    }
  }

  &__logo {
    display: block;
    max-width: 324px;
    width: 100%;
    height: 129px;
    margin-bottom: 10px;

    img {
      @include img(cover);
    }

    @include breakpointsMaxW($bp-576) {
      display: none;
    }
  }

  &__btn {
    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
    }
  }

}