.entertainments {
  background-color: #ECF1F7;
  padding-bottom: 35px;
  padding-top: 40px;
  margin-bottom: 120px;

  &--no-bg {
    background-color: transparent;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__btn {
    max-width: 288px;
    margin: 0 auto;
    background-color: var(--color-accent);
    color: var(--color-white);

  }
}

.slider {
  max-width: 1010px;
  width: 100%;
  margin-bottom: 40px;


  .swiper-wrapper {}
}

.entertainments__slider {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
}