.filters {
  &__title {
    margin-bottom: 30px;
  }

  &__items {
    margin-bottom: 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    max-width: 217px;
    background-color: var(--color-accent);
    color: var(--color-white);

    margin: 0 auto;
  }
}