.emotions {
  &__title {
    text-align: center;
    margin-bottom: 42px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(20px + (42 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__birthday {
    margin-bottom: 120px;
  }

  &__gift {
    max-width: 955px;
    width: 100%;
    margin: 0 auto;
  }
}