.holidays-held {
  padding: 140px 0;
  background-image: url('../images/content/reviews/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__title {
    margin-bottom: 12px;
    text-align: center;
  }

  &__undertitle {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-dark);
    margin-bottom: 40px;
  }

  &__slider {
    position: relative;

    .swiper-slide {
      height: 437px;
      width: 100%;

      img {
        @include img(cover);
      }
    }
  }
}