.conference-hall {
  margin-bottom: 60px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(auto, 547px) 1fr;
    gap: 38px;
    position: relative;

    display: none;

    &.active {
      display: grid;
      animation: opacity 1s ease;
    }

    &::after {
      @include pseudoElDefault();
      width: 220px;
      height: 200px;
      @include backgroundImage(url('../images/decor/conference-hall/corner.svg'), 100%);
      top: -60px;
      left: -100px;

      @include breakpointsMaxW($bp-container) {
        display: none;
      }
    }

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    p {
      &:not(:last-child) {
        margin-bottom: 25px;

        span {
          font-weight: 500;
        }
      }

      font-weight: 300;
      font-size: 18px;
      line-height: 1.3;

      .text-medium {
        font-weight: 500;
      }
    }
  }

  &__item {
    font-weight: 300;
    padding-left: 32px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;
      @include maskImage(url('../images/sprite.svg#defense'), contain);
      background-color: var(--color-accent);
    }
  }

  &__top {
    padding-bottom: 24px;
    border-bottom: 1px solid #C2C2C2;
  }

  &__name {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__bottom {
    padding-top: 24px;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

    @include breakpointsMaxW($bp-991) {
      justify-content: flex-start;
    }

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__detail {
    padding-left: 32px;
    position: relative;

    span {
      font-weight: 500;
    }

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-dark);
    }

    &:nth-child(1) {
      &::before {
        width: 20px;
        height: 20px;
        @include maskImage(url('../images/sprite.svg#user'), cover);
      }
    }

    &:nth-child(2) {
      &::before {
        width: 20px;
        height: 20px;
        @include maskImage(url('../images/sprite.svg#bookmark'), cover);

      }
    }
  }

  &__slider {
    max-width: 547px;

    @include breakpointsMaxW($bp-991) {
      justify-self: center;
    }
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    background-color: var(--color-white);
    border: 1px solid #D6D6D6;
    max-width: 276px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    z-index: 5;
    margin: 0 auto 40px;
    border-radius: 27px;
    overflow: hidden;
  }

  &__button {
    padding: 14px 40px;
    background-color: var(--color-white);
    color: var(--color-accent);
    border-radius: 27px;
    transition: 150ms ease;

    &--active,
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
}