.recruitment {
  padding: 20px 0;

  &__wrapper {
    display: flex;
    gap: 55px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
    }
  }

  &__preview {
    max-width: 445px;
    width: 100%;
    height: 490px;

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
    }

    img {
      @include img(cover);
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__box {
    &-title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px 75px;
    margin-bottom: 30px;
    padding-bottom: 32px;
    border-bottom: 1px solid #CDCDCD;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    font-weight: 300;
    padding-left: 32px;
    position: relative;

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      @include maskImage(url('../images/sprite.svg#defense'), contain);
      background-color: var(--color-accent);
    }

    span {
      font-weight: 500;
    }
  }

  &__text {
    font-weight: 300;
    margin-bottom: 14px;

    span {
      font-weight: 500;
    }
  }

  &__price {
    padding-left: 32px;
    position: relative;
    margin-bottom: 30px;

    &::before {
      @include pseudoElDefault();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;
      @include maskImage(url('../images/sprite.svg#bookmark'), cover);
      background-color: var(--color-dark);
    }

    span {
      font-weight: bold;
      font-size: 26px;
      color: var(--color-accent);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 35px;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include breakpointsMaxW($bp-420) {
      align-items: center;
      text-align: center;
    }
  }

  &__btn {
    max-width: 365px;
    width: 100%;
  }
}