.birthday {
  margin-bottom: 130px;
  padding-top: 95px;

  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__wrapper {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;

    .decor {
      position: absolute;

      @include breakpointsMaxW($bp-container) {
        display: none;
      }

      &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        @include backgroundImage(url('../images/decor/birthday/center.svg'), cover);
      }

      &.circle {
        top: -40px;
        right: -80px;
        width: 322px;
        height: 322px;
        @include backgroundImage(url('../images/decor/birthday/circle.svg'), cover);
      }

      &.star {
        bottom: 30%;
        right: -80px;
        width: 143px;
        height: 143px;
        @include backgroundImage(url('../images/decor/birthday/star.svg'), cover);
      }

      &.triangle {
        top: 30%;
        left: -70px;
        width: 143px;
        height: 143px;
        @include backgroundImage(url('../images/decor/birthday/triangle.svg'), cover);
      }

      &.triangle-2 {
        z-index: 1;
        bottom: 30%;
        left: -80px;
        width: 143px;
        height: 143px;
        @include backgroundImage(url('../images/decor/birthday/triangle-2.svg'), cover);
      }

      &.corner {
        top: -30px;
        left: -30px;
        width: 200px;
        height: 200px;
        @include backgroundImage(url('../images/decor/birthday/corner.svg'), cover);
      }
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 43px 63px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    cursor: pointer;
    max-width: 478px;
    width: 100%;
    height: 478px;
    position: relative;
    overflow: hidden;
    transition: 250ms ease;
    box-shadow: 0px 20px 80px -20px rgba(47, 47, 47, 0.28);

    &:hover {
      .birthday__btn {
        transform: translate(-50%, 0);
      }

      filter: drop-shadow(0px 4px 60px rgba(0, 0, 0, 0.44));
    }

    @include breakpointsMaxW($bp-container) {
      height: calc(300px + (478 - 300) * ((100vw - 320px) / (1200 - 320)));
    }

    @include breakpointsMaxW($bp-991) {
      justify-self: center;
    }

    &:nth-child(1) {
      @include backgroundImage(url('../images/content/birthday/1.jpg'), contain);
    }

    &:nth-child(2) {
      @include backgroundImage(url('../images/content/birthday/1.jpg'), contain);
    }

    &:nth-child(3) {
      @include backgroundImage(url('../images/content/birthday/1.jpg'), contain);
    }

    &:nth-child(4) {
      @include backgroundImage(url('../images/content/birthday/1.jpg'), contain);
    }
  }

  &__btn {
    position: absolute;
    max-width: 250px;
    bottom: 32px;
    left: 50%;
    transition: 350ms;
    transform: translateX(-50%) translateY(110px);

    &:hover {
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }
}