<section class="additional-services">
  <div class="container">
    <div class="additional-services__wrapper">
      <h2 class="additional-services__title section-title">Шаг 3. Выберите дополнительные услуги</h2>
      <p class="additional-services__text">Мы позаботимся о каждой детали на вашем мероприятии</p>
      <ul class="additional-services__items">
        <li class="additional-services__item">
          <article class="additional-service-card">
            <div class="additional-service-card__img">
              <img src="images/content/additional-service/1.png" alt="Шоу-программы">
            </div>
            <h3 class="additional-service-card__title">Шоу-программы</h3>

            <button class="additional-service-card__btn btn btn--small">Заказать</button>
          </article>
        </li>
        <li class="additional-services__item">
          <article class="additional-service-card">
            <div class="additional-service-card__img">
              <img src="images/content/additional-service/1.png" alt="Шоу-программы">
            </div>
            <h3 class="additional-service-card__title">Шоу-программы</h3>

            <button class="additional-service-card__btn btn btn--small">Заказать</button>
          </article>
        </li>
        <li class="additional-services__item">
          <article class="additional-service-card">
            <div class="additional-service-card__img">
              <img src="images/content/additional-service/1.png" alt="Шоу-программы">
            </div>
            <h3 class="additional-service-card__title">Шоу-программы</h3>

            <button class="additional-service-card__btn btn btn--small">Заказать</button>
          </article>
        </li>
        <li class="additional-services__item">
          <article class="additional-service-card">
            <div class="additional-service-card__img">
              <img src="images/content/additional-service/1.png" alt="Шоу-программы">
            </div>
            <h3 class="additional-service-card__title">Шоу-программы</h3>

            <button class="additional-service-card__btn btn btn--small">Заказать</button>
          </article>
        </li>
        <li class="additional-services__item">
          <article class="additional-service-card">
            <div class="additional-service-card__img">
              <img src="images/content/additional-service/1.png" alt="Шоу-программы">
            </div>
            <h3 class="additional-service-card__title">Шоу-программы</h3>

            <button class="additional-service-card__btn btn btn--small">Заказать</button>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>