<section class="script-events">
  <div class="container">
    <h2 class="script-events__title section-title">Сценарий мероприятий</h2>

    <ul class="script-events__items">
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/1.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">1</span>
          </div>
          <span class="script-events-card__text">Сбор гостей, знакомство</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/2.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">2</span>
          </div>
          <span class="script-events-card__text">Поздравление именинника</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/3.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">3</span>
          </div>
          <span class="script-events-card__text">Знакомство с площадкой, техника безопасности</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/4.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">4</span>
          </div>
          <span class="script-events-card__text">Прохождение квеста на выбор</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/5.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">5</span>
          </div>
          <span class="script-events-card__text">Деление на команды, игра в лазертаг</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/6.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">6</span>
          </div>
          <span class="script-events-card__text">Праздничный обед</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/7.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">7</span>
          </div>
          <span class="script-events-card__text">Интерактивные развлечения</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/8.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">8</span>
          </div>
          <span class="script-events-card__text">Фото на память</span>
        </article>
      </li>
      <li class="script-events__item">
        <article class="script-events-card">
          <div class="script-events-card__img">
            <img src="images/content/events/9.jpg" alt="Мероприятие 1"> <span
              class="script-events-card__number">9</span>
          </div>
          <span class="script-events-card__text">Торжественный вынос торта, подарки от "Партизана"</span>
        </article>
      </li>
    </ul>
  </div>
</section>