<section class="news">
  <div class="container">
    <h2 class="news__title section-title">новости и акции</h2>

    <div class="news__wrapper">
      <div class="news__slider">
        <div class="slider slider--no-decor swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <article class="news-card">
                <div class="news-card__img">
                  <img src="images/content/news-card/1.png" alt="Лазертаг">
                </div>
                <div class="news-card__info">
                  <div class="news-card__top">
                    <h3 class="news-card__title">Чем больше, тем дешевле</h3>
                    <p class="news-card__text">При заказе мероприятия от 20 человек скидки до 50%.</p>
                  </div>
                </div>
                <button class="news-card__btn btn btn--small" type="button">Подробнее</button>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="news-card">
                <div class="news-card__img">
                  <img src="images/content/news-card/2.png" alt="Лазертаг">
                </div>
                <div class="news-card__info">
                  <div class="news-card__top">
                    <h3 class="news-card__title">Попробуй секцию бесплатное</h3>
                    <p class="news-card__text">Первое занятие в школе спортивного развития бесплатно.</p>
                  </div>
                </div>
                <button class="news-card__btn btn btn--small" type="button">Подробнее</button>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="news-card">
                <div class="news-card__img">
                  <img src="images/content/news-card/3.png" alt="Лазертаг">
                </div>
                <div class="news-card__info">
                  <div class="news-card__top">
                    <h3 class="news-card__title">Подарки имениннику</h3>
                    <p class="news-card__text">Ни один именинник не уйдет без подарка!</p>
                  </div>
                </div>
                <button class="news-card__btn btn btn--small" type="button">Подробнее</button>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="news-card">
                <div class="news-card__img">
                  <img src="images/content/news-card/2.png" alt="Лазертаг">
                </div>
                <div class="news-card__info">
                  <div class="news-card__top">
                    <h3 class="news-card__title">Чем больше, тем дешевле</h3>
                    <p class="news-card__text">При заказе мероприятия от 20 человек скидки до 50%.</p>
                  </div>
                </div>
                <button class="news-card__btn btn btn--small" type="button">Подробнее</button>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="news-card">
                <div class="news-card__img">
                  <img src="images/content/news-card/1.png" alt="Лазертаг">
                </div>
                <div class="news-card__info">
                  <div class="news-card__top">
                    <h3 class="news-card__title">Чем больше, тем дешевле</h3>
                    <p class="news-card__text">При заказе мероприятия от 20 человек скидки до 50%.</p>
                  </div>
                </div>
                <button class="news-card__btn btn btn--small" type="button">Подробнее</button>
              </article>
            </li>
          </ul>
        </div>

        <div class="swiper-button-next"> <img src="images/arrow-next.png" alt=""></div>
        <div class="swiper-button-prev"> <img src="images/arrow-prev.png" alt=""></div>
      </div>
    </div>
  </div>
</section>