<section class="birthday birthday--no-title">
  <div class="container">
    <h2 class="birthday__title section-title visually-hidden">
      День Рождения под ключ
    </h2>

    <ul class="birthday__items">
      <li class="birthday__item">
        <button class="birthday__btn btn btn--small">Узнать подробнее</button>
      </li>
      <li class="birthday__item"> <button class="birthday__btn btn btn--small">Узнать подробнее</button></li>
      <li class="birthday__item"> <button class="birthday__btn btn btn--small">Узнать подробнее</button></li>
      <li class="birthday__item"> <button class="birthday__btn btn btn--small">Узнать подробнее</button></li>
    </ul>
  </div>
</section>