<section class="our-videos">
  <div class="container">
    <h2 class="our-videos__title section-title">Посомтрите видео</h2>
    <p class="our-videos__text">Эмоции наших гостец скажут больше, чем просто слова!</p>

    <div class="our-videos__wrapper">
      <div class="slider-videos swiper">
        <ul class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="video-card">
              <div class="video-card__img">
                <button class="video-card__play" type="button" aria-label="Посмотреть видео">
                  <svg>
                    <use xlink:href="images/sprite.svg#play-btn"></use>
                  </svg>
                </button>
                <img src="images/content/our-videos/1.jpg" alt="Видео про День в армии">
              </div>
              <h3 class="video-card__name">Лазертаг-приключение "День в армии"</h3>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>