<section class="filters">
  <div class="container">
    <h2 class="filters__title section-title">Подберите праздник под себя:</h2>

    <div class="filters__top">
      <div class="filters__buttons">
        <h3 class="filters__name">Для кого:</h3>
        <div class="filter-buttons filter-buttons--for">
          <button class="filter-buttons__button" data-filter=".boy">Мальчики</button>
          <button class="filter-buttons__button" data-filter=".girl">Девочки</button>
          <button class="filter-buttons__button" data-filter=".both">Оба пола</button>
          <button class="filter-buttons__button" data-filter=".old">Взрослые</button>
        </div>
      </div>
      <div class="filters__buttons">
        <h3 class="filters__name">Сортировать по:</h3>
        <div class="filter-buttons filter-buttons--sort">
          <button class="filter-buttons__button">Популярности</button>
          <button class="filter-buttons__button">Цене</button>
          <button class="filter-buttons__button">Новинки</button>
        </div>
      </div>
    </div>
    <ul class="filters__items">
      <li class="filters__item mix boy">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/1.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="filters__item mix girl">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/1.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="filters__item mix boy">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/2.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="filters__item mix old">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/1.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="filters__item mix boy">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/3.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="filters__item mix both">
        <article class="filters-card">
          <div class="filters-card__img">
            <img src="images/content/entertainments/1.jpg" alt="">
          </div>
          <div class="filters-card__right">
            <div class="filters-card__pickers">
              <span class="filters-card__picker">Хит</span>
              <span class="filters-card__picker">Для мальчиков</span>
              <span class="filters-card__picker">Для девочек</span>
            </div>
            <div class="filters-card__content">
              <div class="filters-card__details">
                <h3 class="filters-card__name">Лазертаг</h3>
                <div class="filters-card__quantity">от 6 человек</div>
                <div class="filters-card__price">от <span>290 ₽</span> за чел. </div>
                <button class="filters-card__btn btn btn--small">Подробнее</button>
              </div>
              <div class="filters-card__info">
                <div class="filters-card__text">
                  <p>Новые и необычные развлечения для дружных компаний-это то, что необходимо всем, независимо от
                    возраста. Лазертаг-приключения смогут порадовать Вас играми на различный вкус. Полоса препятствий,
                    любимая еще с детства компьютерная игра или страшные приведения? Всё это Вы сможете испытать на
                    лазертаг-приключениях.</p>
                </div>
                <button class="filters-card__btn--more">Развернуть</button>
                <button class="filters-card__btn btn">Хочу поиграть</button>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="filters__btn btn btn--small" type="button">Смотреть еще<a />
  </div>
</section>