<section class="conference-hall">
  <div class="container">
    <h2 class="conference-hall__title section-title">Большой конференц-зал</h2>

    <div class="conference-hall__content active">
      <div class="conference-hall__slider">
        <div class="slider-center swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="images/content/about-slider/1.jpg" alt="">
            </li>
            <li class="swiper-slide">
              <img src="images/content/about-slider/1.jpg" alt="">
            </li>
            <li class="swiper-slide">
              <img src="images/content/about-slider/1.jpg" alt="">
            </li>
          </ul>
          <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд">
            <!-- <svg>
              <use xlink:href="images/sprite.svg#arrow-next"></use>
            </svg> -->
            <img src="images/arrow-next.png" alt="">
          </button>
          <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд">
            <!-- <svg>
              <use xlink:href="images/spite.svg#arrow-prev"></use>
            </svg> -->
            <img src="images/arrow-prev.png" alt="">

          </button>
        </div>
      </div>
      <div class="conference-hall__info">
        <div class="conference-hall__top">
          <p>Светлая и большая зона, адаптируемая под любой стиль праздника.</p>
          <span class="conference-hall__name">В вашем распоряжении:</span>
          <ul class="conference-hall__list">
            <li class="conference-hall__item">Аэрохоккей</li>
            <li class="conference-hall__item">Стена для рисования</li>
            <li class="conference-hall__item">VR-аттракцион</li>
            <li class="conference-hall__item">Настольные игры</li>
          </ul>
        </div>
        <div class="conference-hall__bottom">
          <div class="conference-hall__details">
            <div class="conference-hall__detail">
              Вмещает <span> до 40 человек</span>
            </div>
            <div class="conference-hall__detail">
              Стоимость аренды <span> 6 500 ₽/час</span>
            </div>
          </div>

          <button class="conference-hall__btn btn btn--no-shot" type="button">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</section>