<section class="turnkey-holiday">
  <div class="container">
    <div class="section-top">
      <h2 class="section-top__title section-title">Как мы создаем праздник "под ключ"</h2>
      <p class="section-top__text">Мы умеем и знаем как провести интересное и веселое мероприятие на природе, в офисе
        или корабле. Для этого у нас есть весь <span> необходимый реквизит, крутые сценарии </span> для квестов <span> и
          огромный опыт </span> в проведении подобных торжеств.</p>
    </div>

    <div class="turnkey-holiday__wrapper">
      <ul class="turnkey-holiday__items">
        <li class="turnkey-holiday__item">
          <div class="turnkey-holiday-card">
            <div class="turnkey-holiday-card__badge">
              <img src="images/logo.svg" alt="ЛОГО">
            </div>
            <div class="turnkey-holiday-card__slider">
              <div class="slider-center swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/1.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/2.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/3.jpg" alt="">
                  </li>
                </ul>
                <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд">
                  <!-- <svg>
                  <use xlink:href="images/sprite.svg#arrow-next"></use>
                </svg> -->
                  <img src="images/arrow-next.png" alt="">
                </button>
                <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд">
                  <!-- <svg>
                  <use xlink:href="images/spite.svg#arrow-prev"></use>
                </svg> -->
                  <img src="images/arrow-prev.png" alt="">

                </button>
              </div>
            </div>
            <div class="turnkey-holiday-card__info">
              <h3 class="turnkey-holiday-card__name">Игры</h3>
              <p class="turnkey-holiday-card__text">Командные игры с уникальными дизайнами.</p>
              <ul class="turnkey-holiday-card__list">
                <li class="turnkey-holiday-card__item">Квесты</li>
                <li class="turnkey-holiday-card__item">Мафия</li>
                <li class="turnkey-holiday-card__item">Лазертаг</li>
                <li class="turnkey-holiday-card__item">Покер</li>
              </ul>
              <button class="turnkey-holiday-card__btn btn" type="button">Оставить заявку</button>
            </div>
          </div>
        </li>
        <li class="turnkey-holiday__item">
          <div class="turnkey-holiday-card">
            <div class="turnkey-holiday-card__badge">
              <img src="images/logo.svg" alt="ЛОГО">
            </div>
            <div class="turnkey-holiday-card__slider">
              <div class="slider-center swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/2.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/3.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/4.jpg" alt="">
                  </li>
                </ul>
                <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд">
                  <!-- <svg>
                  <use xlink:href="images/sprite.svg#arrow-next"></use>
                </svg> -->
                  <img src="images/arrow-next.png" alt="">
                </button>
                <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд">
                  <!-- <svg>
                  <use xlink:href="images/spite.svg#arrow-prev"></use>
                </svg> -->
                  <img src="images/arrow-prev.png" alt="">

                </button>
              </div>
            </div>
            <div class="turnkey-holiday-card__info">
              <h3 class="turnkey-holiday-card__name">Команда</h3>
              <p class="turnkey-holiday-card__text">Наши сотрудники знают как провести веселый праздник, который будет
                интересен всем. Мы предлагаем услуги: </p>
              <ul class="turnkey-holiday-card__list turnkey-holiday-card__list--3-col">
                <li class="turnkey-holiday-card__item">Сценариста</li>
                <li class="turnkey-holiday-card__item">Дизайнера</li>
                <li class="turnkey-holiday-card__item">Диджея</li>
                <li class="turnkey-holiday-card__item">Ведущего</li>
                <li class="turnkey-holiday-card__item">Фотографа</li>
              </ul>
              <button class="turnkey-holiday-card__btn btn" type="button">Оставить заявку</button>
            </div>
          </div>
        </li>
        <li class="turnkey-holiday__item">
          <div class="turnkey-holiday-card">
            <div class="turnkey-holiday-card__badge">
              <img src="images/logo.svg" alt="ЛОГО">
            </div>
            <div class="turnkey-holiday-card__slider">
              <div class="slider-center swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/3.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/4.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/1.jpg" alt="">
                  </li>
                </ul>
                <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд">
                  <!-- <svg>
                  <use xlink:href="images/sprite.svg#arrow-next"></use>
                </svg> -->
                  <img src="images/arrow-next.png" alt="">
                </button>
                <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд">
                  <!-- <svg>
                  <use xlink:href="images/spite.svg#arrow-prev"></use>
                </svg> -->
                  <img src="images/arrow-prev.png" alt="">

                </button>
              </div>
            </div>
            <div class="turnkey-holiday-card__info">
              <h3 class="turnkey-holiday-card__name">Кейтеринг</h3>
              <ul class="turnkey-holiday-card__list">
                <li class="turnkey-holiday-card__item mb20">Фуршет</li>
                <li class="turnkey-holiday-card__item">Кенди-бар</li>
                <li class="turnkey-holiday-card__item">Банкет</li>
                <li class="turnkey-holiday-card__item">Фондю</li>
              </ul>
              <button class="turnkey-holiday-card__btn btn" type="button">Оставить заявку</button>
            </div>
          </div>
        </li>
        <li class="turnkey-holiday__item">
          <div class="turnkey-holiday-card">
            <div class="turnkey-holiday-card__badge">
              <img src="images/logo.svg" alt="ЛОГО">
            </div>
            <div class="turnkey-holiday-card__slider">
              <div class="slider-center swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/4.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/3.jpg" alt="">
                  </li>
                  <li class="swiper-slide">
                    <img src="images/content/turnkey-holiday/2.jpg" alt="">
                  </li>
                </ul>
                <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд">
                  <!-- <svg>
                  <use xlink:href="images/sprite.svg#arrow-next"></use>
                </svg> -->
                  <img src="images/arrow-next.png" alt="">
                </button>
                <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд">
                  <!-- <svg>
                  <use xlink:href="images/spite.svg#arrow-prev"></use>
                </svg> -->
                  <img src="images/arrow-prev.png" alt="">

                </button>
              </div>
            </div>
            <div class="turnkey-holiday-card__info">
              <h3 class="turnkey-holiday-card__name mb20">Дополнительные услуги</h3>
              <ul class="turnkey-holiday-card__list">
                <li class="turnkey-holiday-card__item">Фотозоны</li>
                <li class="turnkey-holiday-card__item">Шоу-программы</li>
                <li class="turnkey-holiday-card__item">Мастер-классы</li>
                <li class="turnkey-holiday-card__item">Украшение шарами/ цветами</li>
              </ul>
              <button class="turnkey-holiday-card__btn btn" type="button">Оставить заявку</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>