<section class="emotions">
  <div class="container">
    <div class="emotions__wrapper">

      <h2 class="emotions__title section-title">Что подарить ребенку?</h2>

      <div class="emotions__gift">
        <article class="gift-card gift-card--reverse">
          <div class="gift-card__img">
            <img src="../images/content/gifts/2.jpg" alt="Подарочный сертификат">
          </div>
          <div class="gift-card__info">
            <h3 class="gift-card__title">Футболка Партизана</h3>
            <p class="gift-card__text">Футболка хб с символикой школы "Партизан" и специально отведенными областями для
              нашивок.</p>
            <button class="gift-card__btn btn btn--no-shot">Узнать подробнее</button>
          </div>
        </article>
        <article class="gift-card">
          <div class="gift-card__img gift-card__img--shadow">
            <img src="../images/content/gifts/1.png" alt="Подарочный сертификат">
          </div>
          <div class="gift-card__info">
            <h3 class="gift-card__title">Подарочный сертификат<span> от развлекательного центра “Партизан”:</span>
            </h3>
            <p class="gift-card__text">Подарите незабываемые эмоции! В сертификат входит одно
              приключение на выбор: квесты, прятки или лазертаг.</p>
            <button class="gift-card__btn btn">Оставить заявку</button>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>